<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <title>标签管理</title>
</head>
<body>
<!-- 导航 -->
<nav th:replace="admin/_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
</nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/tags/input}" class="item">新增</a>
            <a href="#" th:href="@{/admin/tags}" class="active teal item">列表</a>
        </div>
    </div>
</div>

<!-- 中间内容 -->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="" th:text="|提示： ${message}">提示：操作成功！</div>
        </div>

        <table class="ui celled table">
            <thead>
            <tr>
                <th></th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tag,iterStat : ${page.content}">
                <td th:text="${iterStat.count}">序号</td>
                <td th:text="${tag.tagName}">名称</td>
                <td>
                    <a href="#" th:href="@{/admin/tags/{id}/input(id = ${tag.id})}"
                       class="ui mini teal basic button">编辑</a>
                    <a href="#" th:href="@{/admin/tags/{id}/delete(id = ${tag.id})}"
                       onclick="return confirm('确定要删除该标签吗？')" class="ui mini red basic button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                        <a class="item" th:href="@{/admin/tags(page=${page.number}-1)}"
                           th:unless="${page.first}">上一页</a>
                        <a class="item" th:href="@{/admin/tags(page=${page.number}+1)}"
                           th:unless="${page.last}">下一页</a>
                    </div>
                    <a href="#" th:href="@{/admin/tags/input}" class="ui mini right floated teal basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- 底部footer -->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
</footer>

<th:block th:replace="admin/_fragments :: script">
</th:block>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    function deleteTag(id) {
        $.ajax({
            url: "/admin/tags/" + id,
            type: "DELETE",
            success: function (data) {
                alert("成功");
                window.location.href = "/admin/tags";
            },
            error: function (jqXHR) {
                alert("失败");
            }
        });
    }

    //消息提示关闭初始化
    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade');
    });
</script>
</body>
</html>
